@font-face {
  font-family: "Aloja";
  src: url("/static/fonts/Aloja-Light.woff") format("woff");
}
html,
body {
  /*#F0EBE3*/
  background-color: #F0EBE3;
  height: 100%;
}
html hr,
body hr {
  height: 0.5px;
  background-color: #000000;
}

.navbar {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  justify-content: space-around;
  align-items: start;
}
.navbar .logo {
  grid-column: 1/span 3;
  grid-row: 1;
  width: 50%;
  height: 50%;
  align-self: start;
}
.navbar .logo img {
  width: 100%;
  height: 200%;
}
.navbar .nav-btn {
  align-self: center;
  grid-row: 1;
  grid-column: 3/span 4;
}
.navbar .nav-btn button {
  background-color: #F3D0D7;
  border: none;
  border-radius: 5%;
  cursor: pointer;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}
.navbar .nav-btn ul {
  list-style-type: none;
}
.navbar .nav-btn ul li {
  width: 120px;
  height: 40px;
  padding: 5%;
  display: inline-block;
}

.page {
  display: grid;
  grid-template-columns: repeat(5, 5fr);
  grid-template-rows: repeat(6, 5fr);
  margin-right: 10%;
  margin-left: 10%;
  margin-top: 5%;
  height: auto;
}
.page .homepage {
  display: grid;
  grid-column: 1/-1;
  /* Span all columns */
  grid-row: 1/-1;
  /* Span all rows */
  grid-gap: 5%;
}
.page .homepage .welcome {
  grid-row: 1/span 2;
  grid-column: 1/span 5;
  border-radius: 5%;
  /* From https://css.glass */
  background: rgba(255, 255, 255, 0.47);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(17.6px);
  -webkit-backdrop-filter: blur(17.6px);
}
.page .homepage .features {
  grid-row: 3/span 2;
  grid-column: 4/span 6;
  border-radius: 5%;
  /* From https://css.glass */
  background: rgba(255, 255, 255, 0.47);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(17.6px);
  -webkit-backdrop-filter: blur(17.6px);
}
.page .homepage .signup {
  grid-row: 5/span 2;
  grid-column: 1/span 7;
  border-radius: 5%;
  /* From https://css.glass */
  background: rgba(255, 255, 255, 0.47);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(17.6px);
  -webkit-backdrop-filter: blur(17.6px);
}
.page .login-input {
  grid-row: 1/span 4;
  grid-column: 2/span 3;
  display: grid;
  justify-content: center;
  align-items: center;
  border-radius: 5%;
  background: rgba(255, 255, 255, 0.47);
}
.page .login-input .heading {
  font-family: "Aloja", sans-serif;
  text-align: center;
  margin-top: 0;
}
.page .login-input form input {
  display: block;
}
.page .login-input form .submit-btn {
  width: 100%;
  padding: 10%;
  border-radius: 2%;
  border: none;
  background-color: #F3D0D7;
}
.page .signup-div {
  grid-row: 1/span 4;
  grid-column: 2/span 3;
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  align-items: center;
  border-radius: 5%;
  background: rgba(255, 255, 255, 0.47);
}
.page .signup-div .heading {
  grid-row: 1;
  grid-column: 2;
  font-family: "Aloja", sans-serif;
  text-align: center;
}
.page .signup-div form {
  grid-row: 2;
  grid-column: 2;
}
.page .signup-div form input {
  display: block;
  width: 100%;
}
.page .signup-div form .submit-btn {
  width: 102%;
  padding: 10%;
  border-radius: 2%;
  border: none;
  background-color: #F3D0D7;
}
.page .notepad {
  display: grid;
  grid-template-rows: auto auto 1fr 1fr;
  grid-template-columns: repeat(9, 1fr);
  grid-row: 1/-1;
  grid-column: 1/-1;
  justify-content: center;
  align-content: center;
  min-height: 100%;
}
.page .notepad .greeting {
  grid-column: 3/span 4;
  text-align: center;
  font-family: "Aloja", sans-serif;
  font-size: 1.5em;
  align-self: center;
  grid-row: 1;
}
.page .notepad .greeting h1 {
  margin-top: 0;
  margin-bottom: 15%;
}
.page .notepad .binder-url {
  grid-row: 2;
  grid-column: 1/span 6;
  height: auto;
  width: 100%;
  background: linear-gradient(to bottom, rgb(240, 235, 227) 50%, rgba(104, 92, 92, 0.47) 50%);
  border-top-right-radius: 16%;
  border-top-left-radius: 16%;
}
.page .notepad .notepad-page {
  grid-row: 3/span 5;
  grid-column: 1/span 6;
  /* From https://css.glass */
  background: rgba(104, 92, 92, 0.47);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(17.6px);
  -webkit-backdrop-filter: blur(17.6px);
  display: grid;
  grid-template-columns: 1fr;
  font-family: "Aloja", sans-serif;
}
.page .notepad .notepad-page .notepad_task {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  align-items: center;
  justify-items: center;
}
.page .notepad .notepad-page .notepad_task .completed_box {
  width: 100%;
  height: 100%;
  display: grid;
  align-items: center;
  justify-content: center;
}
.page .notepad .notepad-page .notepad_task .completed_box input[type=checkbox] {
  align-self: center;
  background-color: #F3D0D7;
  border: 2px solid #F3D0D7;
  border-radius: 30px;
  width: 110%;
  height: 110%;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.page .notepad .notepad-page .notepad_task .completed_box .edit_options {
  width: 100%;
  height: 100%;
  display: grid;
  align-items: center;
  justify-content: center;
  background-color: red;
}
.page .notepad .notepad-page .notepad_task .completed_box .edit_options a,
.page .notepad .notepad-page .notepad_task .completed_box .edit_options img {
  width: 100%;
  height: 100%;
}
.page .notepad .add-task {
  grid-row: 2/span 4;
  grid-column: 7/span 3;
  margin-top: 13%;
  margin-left: 15%;
  height: 100%;
  /* From https://css.glass */
  background: rgba(104, 92, 92, 0);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(16.9px);
  -webkit-backdrop-filter: blur(16.9px);
}
.page .notepad .add-task form {
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  width: 100%;
  height: 100%;
  align-items: center;
  font-family: "Aloja", sans-serif;
  text-align: center;
}
.page .notepad .add-task form label {
  display: block;
}
.page .notepad .add-task form input,
.page .notepad .add-task form select {
  padding-right: 5%;
  font-size: 100%;
  font-weight: bold;
  padding: 5%;
  width: 75%;
  outline: none;
  background: #FFFFFF;
  color: #000000;
  border: 0px solid #C4D1EB;
  border-radius: 18px;
}
.page .notepad .add-task form input #dropdown,
.page .notepad .add-task form select #dropdown {
  padding: 20;
}
.page .notepad .add-task form .task {
  grid-row: 1;
}
.page .notepad .add-task form .deadline-div {
  grid-row: 2;
}
.page .notepad .add-task form .deadline-div input {
  max-width: 100%;
}
.page .notepad .add-task form .category-div {
  grid-row: 3;
}/*# sourceMappingURL=style.css.map */