@font-face {
    font-family: "Aloja";
    src: url("/static/fonts/Aloja-Light.woff") format("woff");

}


html,
body {
    /*#F0EBE3*/
    background-color: #F0EBE3;
    height: 100%;

    hr {
        height: 0.5px;
        background-color: #000000;


    }
}



.navbar {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    justify-content: space-around;
    align-items: start;




    .logo {
        grid-column: 1/ span 3;
        grid-row: 1;
        width: 50%;
        height: 50%;
        align-self: start;

        img {
            width: 100%;
            height: 200%;
        }


    }

    .nav-btn {
        align-self: center;
        grid-row: 1;
        grid-column: 3/ span 4;


        button {

            background-color: #F3D0D7;
            border: none;
            border-radius: 5%;
            cursor: pointer;
            width: 100%;
            height: 100%;
            box-sizing: border-box;

        }




        ul {

            list-style-type: none;

            li {
                width: 120px;
                height: 40px;
                padding: 5%;
                display: inline-block;

            }


        }

    }



}

.page {
    display: grid;
    grid-template-columns: repeat(5, 5fr);
    grid-template-rows: repeat(6, 5fr);
    margin-right: 10%;
    margin-left: 10%;
    margin-top: 5%;
    height: auto;


    .homepage {
        display: grid;
        grid-column: 1 / -1;
        /* Span all columns */
        grid-row: 1 / -1;
        /* Span all rows */

        grid-gap: 5%;

        .welcome {

            grid-row: 1/ span 2;
            grid-column: 1/ span 5;
            border-radius: 5%;
            /* From https://css.glass */
            background: rgba(255, 255, 255, 0.47);
            box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
            backdrop-filter: blur(17.6px);
            -webkit-backdrop-filter: blur(17.6px);
        }

        .features {

            grid-row: 3/ span 2;
            grid-column: 4/ span 6;
            border-radius: 5%;
            /* From https://css.glass */
            background: rgba(255, 255, 255, 0.47);
            box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
            backdrop-filter: blur(17.6px);
            -webkit-backdrop-filter: blur(17.6px);

        }

        .signup {

            grid-row: 5/ span 2;
            grid-column: 1/ span 7;
            border-radius: 5%;
            /* From https://css.glass */
            background: rgba(255, 255, 255, 0.47);
            box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
            backdrop-filter: blur(17.6px);
            -webkit-backdrop-filter: blur(17.6px);

        }
    }

    .login-input {
        grid-row: 1/ span 4;
        grid-column: 2/ span 3;

        display: grid;
        justify-content: center;
        align-items: center;

        border-radius: 5%;
        background: rgba(255, 255, 255, 0.47);

        .heading {
            font-family: "Aloja", sans-serif;
            text-align: center;
            margin-top: 0;
        }


        form {

            input {
                display: block;
            }

            .submit-btn {
                width: 100%;
                padding: 10%;
                border-radius: 2%;
                border: none;
                background-color: #F3D0D7;
            }
        }
    }

    .signup-div {
        grid-row: 1/ span 4;
        grid-column: 2/ span 3;

        display: grid;
        grid-template-rows: repeat(3, 1fr);
        grid-template-columns: repeat(3, 1fr);
        justify-content: center;
        align-items: center;

        border-radius: 5%;
        background: rgba(255, 255, 255, 0.47);

        .heading {
            grid-row: 1;
            grid-column: 2;
            font-family: "Aloja", sans-serif;
            text-align: center;

        }


        form {
            grid-row: 2;
            grid-column: 2;


            input {
                display: block;
                width: 100%;
            }

            .submit-btn {
                width: 102%;
                padding: 10%;
                border-radius: 2%;
                border: none;
                background-color: #F3D0D7;
            }
        }
    }


    .notepad {
        display: grid;
        grid-template-rows: auto 1fr 1fr 1fr;
        grid-template-columns: repeat(9, 1fr);
        grid-row: 1 / -1;
        grid-column: 1/ -1;
        justify-content: center;
        align-content: center;


        p {
            text-align: center;
        }


        .greeting {
            grid-column: 3/ span 4;
            text-align: center;
            font-family: "Aloja", sans-serif;
            font-size: 1.5em;
            align-self: center;


            h1 {

                margin-top: 0;
                margin-bottom: 15%;
            }

        }

        .notepad-page {
            grid-row: 2/ span 5;
            grid-column: 1/ span 6;
            /* From https://css.glass */
            background: rgba(104, 92, 92, 0.47);
            border-radius: 16px;
            box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
            backdrop-filter: blur(17.6px);
            -webkit-backdrop-filter: blur(17.6px);

            height: auto img {
                position: absolute;
                top: -8%;
            }
        }

        .add-task {
            grid-row: 2/ span 2;
            grid-column: 7/ span 3;
            margin-left: 15%;
            height: 50%;



            /* From https://css.glass */
            background: rgba(104, 92, 92, 0);
            border-radius: 16px;
            box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
            backdrop-filter: blur(16.9px);
            -webkit-backdrop-filter: blur(16.9px);



            form {
                display: grid;

                grid-template-rows: repeat(4, 1fr);
                width: 100%;
                height: 100%;
                align-items: center;
                font-family: "Aloja", sans-serif;
                text-align: center;


                label {
                    display: block;


                }

                input,
                select {
                    padding-right: 5%;
                    font-size: 100%;
                    font-weight: bold;
                    padding: 5%;
                    width: 75%;
                    outline: none;
                    background: #FFFFFF;
                    color: #000000;
                    border: 0px solid #C4D1EB;
                    border-radius: 18px;

                    #dropdown {
                        padding: 20;
                    }


                }


                .task {
                    grid-row: 1;



                }

                .deadline-div {
                    grid-row: 2;

                    input {
                        max-width: 100%;
                    }
                }

                .category-div {
                    grid-row: 3;

                }


            }





        }
    }




}