<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
    <title>Document</title>
</head>
<body>
    
    <div class="navbar">
        <div class="logo"> <h1>To Do</h1></div>

        <div class="nav-btn">

            <ul>
                <li><button>Home</button> </li>
                <li><button>Login</button></li>
                <li><button>Contact us</button></li>
            </ul>

        </div>


    </div>

    <div class="page">
        {%block content%}

        {%endblock%}
    </div>
  
</body>
</html>