<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">

 <!--<meta http-equiv="refresh" content="2">-->
    <title>Document</title>
</head>
<body>
    
    <div class="navbar">
        <div class="logo"> <a href="{{url_for('home')}}"><img src="{{url_for('static', filename='img/logo.svg')}}" alt=""></a></div>

        <div class="nav-btn">

            {% if loggedin%}
                <ul>
                    <li><a href="{{url_for('home')}}"><button>Home</button></a> </li>
                    <li><a href="{{url_for('logout')}}"><button>Log Out</button></a></li>
                    <li><a href="{{url_for('add_category')}}"><button>Add Category</button></a></li>
                
                </ul>
            {%else%}
            <ul>
                <li><a href="{{url_for('home')}}"><button>Home</button></a> </li>
                <li><a href="{{url_for('login')}}"><button>Login</button></a></li>
                <li><a href="{{url_for('signup')}}"><button>Sign Up</button></a></li>
               
            
            </ul>

            {%endif%}
            
                

        </div>

    </div>

    <div class="page">

        
        {%block content%}

        {%endblock%}
    </div>
  
</body>
</html>