
{%extends "base.html"%}

{%block content%}
<div class="edit-task">
        {%with messages = get_flashed_messages() %}
            {%if messages%}
                {% for msg in messages%}
                    <p>{{msg}}</p>
                {%endfor%}
            {%endif%}
        {%endwith%}
        <form method= "POST" action="#">
            <!-- when we post i just want it to update the note pad
             this tells me that the notepage-page should be able to get info
             and store it. We dont chnage pages just update notepad
             
             include logout button-->

            <div class="task">
                <label for="task-name">Task:</label>
                <input type="text" id="task-name" name="task-name">
            </div>

            <div class="deadline-div">
                <label for="deadline">Due:</label>
                <input type="date" id="deadline" name="deadline">
            </div>
            
            <div class="category-div">
                <label for="category">Category</label>
                    <select name="dropdown" id="dropdown" aria-placeholder="Select Category">
                        <option value="">Select an option</option>
                        <option value="Financial">Financial</option>
                        <option value="Goals">Goals</option>
                        <option value="Groceries">Groceries</option>
                        <option value="Health">Health</option>
                        <option value="Chores">Chores</option>

                        <!-- Here i should cycle through
                        the category db and display
                        
                        Categories should also be a db as people might want to add or delete-->
                    </select>

                
            </div>

            <div class="add-btn">
                <input type="submit" value="Submit" id="add-task-submit">
            </div>
        </form>
        
    </div>

{%endblock%}