{%extends "base.html"%}

{%block content%}

    <div class="homepage">

        <div class="welcome_img_div">
        <img src="static\img\welcome_icon.svg" alt="" class="welcome-img">
        </div>

        <div class="welcome">
            <h1>WELCOME TO MY TO DO </h1>
           
            <p>
                We're excited to help you stay organized and productive.<br>  
                Add, edit, and manage your tasks effortlessly—and pick up right where you left off anytime.<br>  
                Let’s make ticking off that to-do list a breeze
            </p>


        </div>
        <div class="features_img_div">
        <img src="static\img\features_icon.svg" alt="" class="features-img">
        </div>
        <div class="features">
            <h1>FEATURES </h1>

            <p> 
            Add tasks to your to-do list. <br>  
            Edit tasks to update details or change priorities.<br>  
            Delete tasks you no longer need.<br>  
            Tasks are saved in a database, so you can log back in and access your to-do list anytime.
            </p>
        </div>
        <div class="signup">ROLLING IMAGES OF HOW IT LOOKS LIKE</div>
    </div>

{%endblock%}
