{%extends "base.html"%}

{%block content%}



<div class="notepad">
   
    <div class="greeting"><h1>Welcome, {{username}}</h1></div>

    <div class="binder-url">
        <img src="static\img\binder.svg" alt="">
    </div>
    
    <div class="notepad-page">

        <div class="notepad_task">

            {%for i in tasks%}

                <div class="completed_box">
                    <!-- this will have the checkbox that toggles completed = 1-->
                    <input type="checkbox">
                </div>

                <div class="thetask">
                    <div class="utask_name"> <p>{{i[0]}} </p></div>
                </div>

                <div class="edit_options">
                  
                    <!--make use of icons -->
                    <a href="{{url_for('edit_task')}}" class="edit"><img src="static\img\editpen.svg" alt=""></a>
            

            
                    <a href="{{url_for('delete_task')}}" class="delete"><img src="static\img\bin.svg" alt=""></a>
                    <!--make use of dustbin icon-->
                
                </div> 
            {%endfor%}
        </div>
   

    </div>

    <div class="add-task">
        {%with messages = get_flashed_messages() %}
            {%if messages%}
                {% for msg in messages%}
                    <p>{{msg}}</p>
                {%endfor%}
            {%endif%}
        {%endwith%}
        <form method= "POST" action="#">
            <!-- when we post i just want it to updare the note pad
             this tells me that the notepage-page should be able to get info
             and store it. We dont chnage pages just update notepad
             
             include logout button-->

            <div class="task">
                <label for="task-name">Task:</label>
                <input type="text" id="task-name" name="task-name">
            </div>

            <div class="deadline-div">
                <label for="deadline">Due:</label>
                <input type="date" id="deadline" name="deadline">
            </div>
            
            <div class="category-div">
                <label for="category">Category</label>
                    <select name="dropdown" id="dropdown" aria-placeholder="Select Category">
                        <option value="">Select an option</option>
                        <option value="Financial">Financial</option>
                        <option value="Goals">Goals</option>
                        <option value="Groceries">Groceries</option>
                        <option value="Health">Health</option>
                        <option value="Chores">Chores</option>

                        <!-- Here i should cycle through
                        the category db and display
                        
                        Categories should also be a db as people might want to add or delete-->
                    </select>

                
            </div>

            <div class="add-btn">
                <input type="submit" value="Submit" id="add-task-submit">
            </div>
        </form>
        </form>
    </div>






</div>






{%endblock%}